---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
---

<StarlightPage
  frontmatter={{
    title: 'My Custom Page',
    topic: 'technical'
  }}
>
  <h1>Hello World</h1>
</StarlightPage>
